
*.sdf
/person-visualtest/Debug/CL.read.1.tlog
/person-visualtest/Debug/CL.write.1.tlog
/person-visualtest/Debug/cl.command.1.tlog
/person-visualtest/Debug/link.command.1.tlog
/person-visualtest/Debug/link.read.1.tlog
/person-visualtest/Debug/link.write.1.tlog
/person-visualtest/Debug/mt.command.1.tlog
/person-visualtest/Debug/mt.read.1.tlog
/person-visualtest/Debug/mt.write.1.tlog
/person-visualtest/Debug/person-visualtest.exe.intermediate.manifest
/person-visualtest/Debug/person-visualtest.lastbuildstate
/person-visualtest/Debug/person-visualtest.log
/person-visualtest/Debug/person-visualtest.obj
/person-visualtest/Debug/stdafx.obj
/person-visualtest/Debug/vc100.idb
/person-visualtest/Debug/vc100.pdb